<html>
<body>
    <h1>Available Job Offers</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>

        <tbody>
            {% for o in offers  %}
            <tr>
                <td>{{ o.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
