<html>
<body>
    {% for m in app.flashes('sucess') %}
        <p>{{ m }}</p>
    {% endfor %}
    <table>
        <thead>
            <tr>
                <th>
                    Company
                </th>
                <th>
                    Title
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.compnay }}</td>
                <td>{{ offer.title }}</td>
                <td><a href="{{ url('offer_apply', { id: offer.id } ) }}">Apply</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
