<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="style.css">
        {% endblock %}
    </head>
    <body>
        {% block messages %}
            {% for m in app.flashes('sucess') %}
                <p>{{ m }}</p>
            {% endfor %}
        {% endblock %}
        {% block menu %}
            <p>
            {% if app.user %}
                <a href="{{ url('app_logout') }}">{{ 'app.logout'|trans }}</a>
            {% else %}
                <a href="{{ url('app_login') }}">Login</a>
            {% endif %}
            </p>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
<script type="text/javascript" src="functions.js">
</script>